In [1]:
# standard imports
import pandas as pd
import numpy as np

In [33]:
gamedf = pd.read_csv('GameData.csv')
gamedf

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,United Center,/api/v1/venues/null,America/Chicago,-5,CDT
1,2017020812,20172018,R,2018-02-07T00:00:00Z,24,7,4,3,away win OT,left,KeyBank Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
3,2015020849,20152016,R,2016-02-17T00:00:00Z,52,12,1,2,home win REG,right,PNC Arena,/api/v1/venues/null,America/New_York,-4,EDT
4,2017020586,20172018,R,2017-12-30T03:00:00Z,20,24,1,2,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26300,2018030415,20182019,P,2019-06-07T00:00:00Z,19,6,2,1,away win REG,left,TD Garden,/api/v1/venues/5085,America/New_York,-5,EST
26301,2018030416,20182019,P,2019-06-10T00:00:00Z,6,19,5,1,away win REG,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-6,CST
26302,2018030416,20182019,P,2019-06-10T00:00:00Z,6,19,5,1,away win REG,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-6,CST
26303,2018030417,20182019,P,2019-06-13T00:00:00Z,19,6,4,1,away win REG,left,TD Garden,/api/v1/venues/5085,America/New_York,-5,EST
26304,2018030417,20182019,P,2019-06-13T00:00:00Z,19,6,4,1,away win REG,left,TD Garden,/api/v1/venues/5085,America/New_York,-5,EST

In [3]:
playerdf = pd.read_csv('PlayerData.csv')
playerdf

,Rk,Player,Age,Pos,Tm,GP,G,A,PTS,plusminus,...,TOI,ATOI,BLK,HIT,FOW,FOL,FO_percent,HART,Votes,Season
0,1,Connor McDavid\mcdavco01,20,C,EDM,82,30,70,100,27,...,1733,21.133333,29.0,34,348.0,458.0,43.2,1,1604,2017
1,2,Sidney Crosby\crosbsi01,29,C,PIT,75,44,45,89,17,...,1491,19.883333,27.0,80,842.0,906.0,48.2,0,1104,2017
2,3,Patrick Kane\kanepa01,28,RW,CHI,82,34,55,89,11,...,1754,21.400000,15.0,28,7.0,44.0,13.7,0,206,2017
3,4,Nicklas Backstrom\backsni02,29,C,WSH,82,23,63,86,17,...,1497,18.266667,33.0,45,685.0,648.0,51.4,0,60,2017
4,5,Nikita Kucherov\kucheni01,23,RW,TBL,74,40,45,85,13,...,1438,19.433333,20.0,30,0.0,0.0,0.0,0,119,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13181,886,Zach Trotman\trotmza01,27,D,PIT,3,0,0,0,-3,...,38,12.800000,2.0,1,0.0,0.0,NaN,0,0,2018
13182,887,Dominic Turgeon\turgedo01,21,C,DET,5,0,0,0,-2,...,46,9.200000,8.0,3,7.0,14.0,33.3,0,0,2018
13183,888,Rinat Valiev\valieri01,22,D,MTL,2,0,0,0,0,...,24,11.800000,2.0,0,0.0,0.0,NaN,0,0,2018
13184,889,Curtis Valk\valkcu01,24,LW,FLA,1,0,0,0,0,...,3,3.400000,0.0,1,0.0,3.0,0.0,0,0,2018
13185,890,Zach Whitecloud\whiteza01,21,D,VEG,1,0,0,0,3,...,17,16.700000,1.0,0,0.0,0.0,NaN,0,0,2018

In [58]:
teamdf = pd.read_csv('TeamInfo.csv')
teamdf

,team_id,franchiseId,shortName,teamName,abbreviation,link
0,1,23,New Jersey,Devils,NJD,/api/v1/teams/1
1,4,16,Philadelphia,Flyers,PHI,/api/v1/teams/4
2,26,14,Los Angeles,Kings,LAK,/api/v1/teams/26
3,14,31,Tampa Bay,Lightning,TBL,/api/v1/teams/14
4,6,6,Boston,Bruins,BOS,/api/v1/teams/6
5,3,10,NY Rangers,Rangers,NYR,/api/v1/teams/3
6,5,17,Pittsburgh,Penguins,PIT,/api/v1/teams/5
7,17,12,Detroit,Red Wings,DET,/api/v1/teams/17
8,28,29,San Jose,Sharks,SJS,/api/v1/teams/28
9,18,34,Nashville,Predators,NSH,/api/v1/teams/18
10,23,20,Vancouver,Canucks,VAN,/api/v1/teams/23
11,16,11,Chicago,Blackhawks,CHI,/api/v1/teams/16
12,9,30,Ottawa,Senators,OTT,/api/v1/teams/9
13,8,1,Montreal,Canadiens,MTL,/api/v1/teams/8
14,30,37,Minnesota,Wild,MIN,/api/v1/teams/30
15,15,24,Washington,Capitals,WSH,/api/v1/teams/15
16,19,18,St Louis,Blues,STL,/api/v1/teams/19
17,24,32,Anaheim,Ducks,ANA,/api/v1/teams/24
18,27,28,Phoenix,Coyotes,PHX,/api/v1/teams/27
19,2,22,NY Islanders,Islanders,NYI,/api/v1/teams/2
20,10,5,Toronto,Maple Leafs,TOR,/api/v1/teams/10
21,13,33,Florida,Panthers,FLA,/api/v1/teams/13
22,7,19,Buffalo,Sabres,BUF,/api/v1/teams/7
23,20,21,Calgary,Flames,CGY,/api/v1/teams/20
24,21,27,Colorado,Avalanche,COL,/api/v1/teams/21
25,25,15,Dallas,Stars,DAL,/api/v1/teams/25
26,29,36,Columbus,Blue Jackets,CBJ,/api/v1/teams/29
27,52,35,Winnipeg,Jets,WPG,/api/v1/teams/52
28,22,25,Edmonton,Oilers,EDM,/api/v1/teams/22
29,54,38,Vegas,Golden Knights,VGK,/api/v1/teams/54
30,12,26,Carolina,Hurricanes,CAR,/api/v1/teams/12
31,53,28,Arizona,Coyotes,ARI,/api/v1/teams/53
32,11,35,Atlanta,Thrashers,ATL,/api/v1/teams/11

In [59]:
teamdf4 = teamdf[['shortName', 'teamName']]

teamdf4

       shortName        teamName
0     New Jersey          Devils
1   Philadelphia          Flyers
2    Los Angeles           Kings
3      Tampa Bay       Lightning
4         Boston          Bruins
5     NY Rangers         Rangers
6     Pittsburgh        Penguins
7        Detroit       Red Wings
8       San Jose          Sharks
9      Nashville       Predators
10     Vancouver         Canucks
11       Chicago      Blackhawks
12        Ottawa        Senators
13      Montreal       Canadiens
14     Minnesota            Wild
15    Washington        Capitals
16      St Louis           Blues
17       Anaheim           Ducks
18       Phoenix         Coyotes
19  NY Islanders       Islanders
20       Toronto     Maple Leafs
21       Florida        Panthers
22       Buffalo          Sabres
23       Calgary          Flames
24      Colorado       Avalanche
25        Dallas           Stars
26      Columbus    Blue Jackets
27      Winnipeg            Jets
28      Edmonton          Oilers
29         Vegas  Golden Knights
30      Carolina      Hurricanes
31       Arizona         Coyotes
32       Atlanta       Thrashers

In [65]:
teamdf4 = teamdf4.rename(columns={'shortName': 'City', 'teamName': 'Mascot'})

TypeError: rename() got an unexpected keyword argument 'columns'

In [64]:
teamdf4

0       New Jersey
1     Philadelphia
2      Los Angeles
3        Tampa Bay
4           Boston
5       NY Rangers
6       Pittsburgh
7          Detroit
8         San Jose
9        Nashville
10       Vancouver
11         Chicago
12          Ottawa
13        Montreal
14       Minnesota
15      Washington
16        St Louis
17         Anaheim
18         Phoenix
19    NY Islanders
20         Toronto
21         Florida
22         Buffalo
23         Calgary
24        Colorado
25          Dallas
26        Columbus
27        Winnipeg
28        Edmonton
29           Vegas
30        Carolina
31         Arizona
32         Atlanta
Name: City, dtype: object

In [9]:
teamdf3

0       New Jersey
1     Philadelphia
2      Los Angeles
3        Tampa Bay
4           Boston
5       NY Rangers
6       Pittsburgh
7          Detroit
8         San Jose
9        Nashville
10       Vancouver
11         Chicago
12          Ottawa
13        Montreal
14       Minnesota
15      Washington
16        St Louis
17         Anaheim
18         Phoenix
19    NY Islanders
20         Toronto
21         Florida
22         Buffalo
23         Calgary
24        Colorado
25          Dallas
26        Columbus
27        Winnipeg
28        Edmonton
29           Vegas
30        Carolina
31         Arizona
32         Atlanta
Name: City, dtype: object

teamdf4= teamdf4['City'].replace({'NY': 'New York'})

In [63]:
teamdf4

0       New Jersey
1     Philadelphia
2      Los Angeles
3        Tampa Bay
4           Boston
5       NY Rangers
6       Pittsburgh
7          Detroit
8         San Jose
9        Nashville
10       Vancouver
11         Chicago
12          Ottawa
13        Montreal
14       Minnesota
15      Washington
16        St Louis
17         Anaheim
18         Phoenix
19    NY Islanders
20         Toronto
21         Florida
22         Buffalo
23         Calgary
24        Colorado
25          Dallas
26        Columbus
27        Winnipeg
28        Edmonton
29           Vegas
30        Carolina
31         Arizona
32         Atlanta
Name: City, dtype: object

In [49]:
teamdf3

0       New Jersey
1     Philadelphia
2      Los Angeles
3        Tampa Bay
4           Boston
5       NY Rangers
6       Pittsburgh
7          Detroit
8         San Jose
9        Nashville
10       Vancouver
11         Chicago
12          Ottawa
13        Montreal
14       Minnesota
15      Washington
16        St Louis
17         Anaheim
18         Phoenix
19    NY Islanders
20         Toronto
21         Florida
22         Buffalo
23         Calgary
24        Colorado
25          Dallas
26        Columbus
27        Winnipeg
28        Edmonton
29           Vegas
30        Carolina
31         Arizona
32         Atlanta
Name: City, dtype: object

In [50]:
teamdf3 = teamdf3.replace(['NY Rangers', 'NY Islanders'],'New York')

In [51]:
teamdf3

0       New Jersey
1     Philadelphia
2      Los Angeles
3        Tampa Bay
4           Boston
5         New York
6       Pittsburgh
7          Detroit
8         San Jose
9        Nashville
10       Vancouver
11         Chicago
12          Ottawa
13        Montreal
14       Minnesota
15      Washington
16        St Louis
17         Anaheim
18         Phoenix
19        New York
20         Toronto
21         Florida
22         Buffalo
23         Calgary
24        Colorado
25          Dallas
26        Columbus
27        Winnipeg
28        Edmonton
29           Vegas
30        Carolina
31         Arizona
32         Atlanta
Name: City, dtype: object

In [52]:
teamdf3 = teamdf3.drop(teamdf3.index[32])

In [21]:
teamdf2 =  teamdf2.drop(teamdf2.index[[3, 4, 6, 15, 20, 24, 28]])

IndexError: index 28 is out of bounds for axis 0 with size 25

In [24]:
teamdf2 = teamdf2.reset_index()

In [57]:
teamdf3

0       New Jersey
1     Philadelphia
2      Los Angeles
3        Tampa Bay
4           Boston
5         New York
6       Pittsburgh
7          Detroit
8         San Jose
9        Nashville
10       Vancouver
11         Chicago
12          Ottawa
13        Montreal
14       Minnesota
15      Washington
16        St Louis
17         Anaheim
18         Phoenix
19        New York
20         Toronto
21         Florida
22         Buffalo
23         Calgary
24        Colorado
25          Dallas
26        Columbus
27        Winnipeg
28        Edmonton
29           Vegas
30        Carolina
31         Arizona
Name: City, dtype: object

In [28]:
teamdf2 = teamdf2[['City', 'Mascot']]

##

In [29]:
teamdf2

            City          Mascot
0     New Jersey          Devils
1   Philadelphia          Flyers
2    Los Angeles           Kings
3       New York         Rangers
4        Detroit       Red Wings
5       San Jose          Sharks
6      Nashville       Predators
7      Vancouver         Canucks
8        Chicago      Blackhawks
9         Ottawa        Senators
10      Montreal       Canadiens
11     Minnesota            Wild
12      St Louis           Blues
13       Anaheim           Ducks
14       Phoenix         Coyotes
15      New York       Islanders
16       Florida        Panthers
17       Buffalo          Sabres
18       Calgary          Flames
19        Dallas           Stars
20      Columbus    Blue Jackets
21      Winnipeg            Jets
22         Vegas  Golden Knights
23      Carolina      Hurricanes
24       Arizona         Coyotes

In [56]:
teamdf3.to_csv('teamdata3.csv')

In [66]:
playerdf

,Rk,Player,Age,Pos,Tm,GP,G,A,PTS,plusminus,...,TOI,ATOI,BLK,HIT,FOW,FOL,FO_percent,HART,Votes,Season
0,1,Connor McDavid\mcdavco01,20,C,EDM,82,30,70,100,27,...,1733,21.133333,29.0,34,348.0,458.0,43.2,1,1604,2017
1,2,Sidney Crosby\crosbsi01,29,C,PIT,75,44,45,89,17,...,1491,19.883333,27.0,80,842.0,906.0,48.2,0,1104,2017
2,3,Patrick Kane\kanepa01,28,RW,CHI,82,34,55,89,11,...,1754,21.400000,15.0,28,7.0,44.0,13.7,0,206,2017
3,4,Nicklas Backstrom\backsni02,29,C,WSH,82,23,63,86,17,...,1497,18.266667,33.0,45,685.0,648.0,51.4,0,60,2017
4,5,Nikita Kucherov\kucheni01,23,RW,TBL,74,40,45,85,13,...,1438,19.433333,20.0,30,0.0,0.0,0.0,0,119,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13181,886,Zach Trotman\trotmza01,27,D,PIT,3,0,0,0,-3,...,38,12.800000,2.0,1,0.0,0.0,NaN,0,0,2018
13182,887,Dominic Turgeon\turgedo01,21,C,DET,5,0,0,0,-2,...,46,9.200000,8.0,3,7.0,14.0,33.3,0,0,2018
13183,888,Rinat Valiev\valieri01,22,D,MTL,2,0,0,0,0,...,24,11.800000,2.0,0,0.0,0.0,NaN,0,0,2018
13184,889,Curtis Valk\valkcu01,24,LW,FLA,1,0,0,0,0,...,3,3.400000,0.0,1,0.0,3.0,0.0,0,0,2018
13185,890,Zach Whitecloud\whiteza01,21,D,VEG,1,0,0,0,3,...,17,16.700000,1.0,0,0.0,0.0,NaN,0,0,2018

In [67]:
gamedf

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,United Center,/api/v1/venues/null,America/Chicago,-5,CDT
1,2017020812,20172018,R,2018-02-07T00:00:00Z,24,7,4,3,away win OT,left,KeyBank Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
3,2015020849,20152016,R,2016-02-17T00:00:00Z,52,12,1,2,home win REG,right,PNC Arena,/api/v1/venues/null,America/New_York,-4,EDT
4,2017020586,20172018,R,2017-12-30T03:00:00Z,20,24,1,2,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26300,2018030415,20182019,P,2019-06-07T00:00:00Z,19,6,2,1,away win REG,left,TD Garden,/api/v1/venues/5085,America/New_York,-5,EST
26301,2018030416,20182019,P,2019-06-10T00:00:00Z,6,19,5,1,away win REG,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-6,CST
26302,2018030416,20182019,P,2019-06-10T00:00:00Z,6,19,5,1,away win REG,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-6,CST
26303,2018030417,20182019,P,2019-06-13T00:00:00Z,19,6,4,1,away win REG,left,TD Garden,/api/v1/venues/5085,America/New_York,-5,EST
26304,2018030417,20182019,P,2019-06-13T00:00:00Z,19,6,4,1,away win REG,left,TD Garden,/api/v1/venues/5085,America/New_York,-5,EST

In [70]:
gamedf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26305 entries, 0 to 26304
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 26305 non-null  int64
 1   season                  26305 non-null  int64
 2   type                    26305 non-null  object
 3   date_time_GMT           26305 non-null  object
 4   away_team_id            26305 non-null  int64
 5   home_team_id            26305 non-null  int64
 6   away_goals              26305 non-null  int64
 7   home_goals              26305 non-null  int64
 8   outcome                 26305 non-null  object
 9   home_rink_side_start    25109 non-null  object
 10  venue                   26305 non-null  object
 11  venue_link              26305 non-null  object
 12  venue_time_zone_id      26305 non-null  object
 13  venue_time_zone_offset  26305 non-null  int64
 14  venue_time_zone_tz      26305 non-null  object
dtypes: int64(7), object(8)
memory usage: 3.0+ MB

In [72]:
gamedf

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2016020045,20162017,R,2016-10-19 00:30:00+00:00,4,16,4,7,home win REG,right,United Center,/api/v1/venues/null,America/Chicago,-5,CDT
1,2017020812,20172018,R,2018-02-07 00:00:00+00:00,24,7,4,3,away win OT,left,KeyBank Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2015020314,20152016,R,2015-11-24 01:00:00+00:00,21,52,4,1,away win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
3,2015020849,20152016,R,2016-02-17 00:00:00+00:00,52,12,1,2,home win REG,right,PNC Arena,/api/v1/venues/null,America/New_York,-4,EDT
4,2017020586,20172018,R,2017-12-30 03:00:00+00:00,20,24,1,2,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26300,2018030415,20182019,P,2019-06-07 00:00:00+00:00,19,6,2,1,away win REG,left,TD Garden,/api/v1/venues/5085,America/New_York,-5,EST
26301,2018030416,20182019,P,2019-06-10 00:00:00+00:00,6,19,5,1,away win REG,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-6,CST
26302,2018030416,20182019,P,2019-06-10 00:00:00+00:00,6,19,5,1,away win REG,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-6,CST
26303,2018030417,20182019,P,2019-06-13 00:00:00+00:00,19,6,4,1,away win REG,left,TD Garden,/api/v1/venues/5085,America/New_York,-5,EST
26304,2018030417,20182019,P,2019-06-13 00:00:00+00:00,19,6,4,1,away win REG,left,TD Garden,/api/v1/venues/5085,America/New_York,-5,EST

In [73]:
gamedf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26305 entries, 0 to 26304
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 26305 non-null  int64
 1   season                  26305 non-null  int64
 2   type                    26305 non-null  object
 3   date_time_GMT           26305 non-null  datetime64[ns, UTC]
 4   away_team_id            26305 non-null  int64
 5   home_team_id            26305 non-null  int64
 6   away_goals              26305 non-null  int64
 7   home_goals              26305 non-null  int64
 8   outcome                 26305 non-null  object
 9   home_rink_side_start    25109 non-null  object
 10  venue                   26305 non-null  object
 11  venue_link              26305 non-null  object
 12  venue_time_zone_id      26305 non-null  object
 13  venue_time_zone_offset  26305 non-null  int64
 14  venue_time_zone_tz      26305 non-null  object
dtypes: datetime64[ns, UTC](1), int64(7), object(7)
memory usage: 3.0+ MB

In [74]:
gamedf['gamedate'] = gamedf['date_time_GMT'].dt.date

gamedf2 = gamedf[[away_goals, home_goals, ]]